.__totals {
    overflow: auto;
    table {
        tr {
            border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
        }
        th, td {
            white-space: nowrap;
            text-align: left;
        }
    }
}
